<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Pikaday CSS -->
    <link href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.min.css" rel="stylesheet">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
    <body>
        <!-- top navbar -->
        <div class="top-navbar">
            <p>WELCOME TO OUR ELECTRONIC PRODUCTS</p>
        </div>
        <!-- top navbar -->

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" id="logo"><span id="span1">E</span>Lectronic<span> Management</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><img src="./images/menu.png" alt="" width="30px"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#product-cards">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart">
                                <span class="fa-solid fa-cart-shopping"></span>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" id="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- navbar -->

        <!-- product cards -->
        <div class="container" id="product-cards">
            <h1 class="text-center">DETAIL</h1>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-3 py-3 py-md-0" >
                    <div style=" justify-content: center; margin-left: 100%">
                        <img src="./images/p6.png" alt="">
                    </div>
                </div>

                <!--<div class="py-3 py-md-0" th:each="item, iterStat : ${thietbiop}">-->
                    <div class="">
                        <div class="">
                            
                            <h3><p>Mã thành viên: <span th:text="${thanhvien.MaTV}"></span></p></h3>
                            <h3><p>Mã thiết bị: <span th:text="${thietbi.maTB}"></span></p></h3>
                            <h3><p>Tên thiết bị: <span th:text="${thietbi.TenTB}"></span></p></h3>
                            <h3><p>Mô tả: <span th:text="${thietbi.mo_tatb}"></span></p></h3>

                             <!-- Pikaday calendar -->
                            <!--th:object="${thongtinsd}"-->
                                <form action="#!" th:action="@{/thongtinsd/save}" method="POST">
                                    <div th:if="${param.missingDate}">
                                        <div class="alert alert-danger">Bạn phải chọn ngày tháng đặt chổ.</div>
                                    </div>
                                    <div th:if="${param.errorDate}">
                                        <div class="alert alert-danger">Lỗi convert Date.</div>
                                    </div>
                                    <div th:if="${param.deviceReserved}">
                                        <div class="alert alert-danger">Thiết bị đã được đặt chổ bởi người khác.</div>
                                    </div>
                                    <div th:if="${param.invalidDate}">
                                        <div class="alert alert-danger">Thời gian đặt chổ phải lớn hơn hiện tại</div>
                                    </div>
                                    <div th:if="${param.success}">
                                        <div class="alert alert-success">Đặt chỗ thành công</div>
                                    </div>
                                    <div th:if="${param.canReserved}">
                                        <div class="alert alert-success">Bạn có thể đặt chổ vào hôm nay</div>
                                    </div>
                                    <input type="hidden" id="thanhVienId" name="thanhVienId" th:value="${thanhvien.MaTV}">
                                    <input type="hidden" id="thietBiId" name="thietBiId" th:value="${thietbi.maTB}">
                                    <div class="mb-4">
                                        <label for="bookingDateTime">Chọn ngày và giờ đặt chỗ:</label>
                                        <input type="datetime-local" id="reserveTime" name="reserveTime" onchange="checkValidReserveTime()">
                                    </div>
                                    <div class="mb-4">
                                        <button id="bookNowBtn" class="btn btn-primary" type="submit">Đặt chỗ</button>
                                    </div>
                                </form>
                        </div>

                        

                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- product cards -->

        

        <!-- footer -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <!-- Content footer -->
                </div>
            </div>
        </footer>
        <!-- footer -->

        <!-- Pikaday JS -->
        <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
        <script>
//          
             // Hàm để kiểm tra và gán giá trị từ localStorage cho trường input
    function checkAndSetInputValue(inputId) {
        var value = localStorage.getItem(inputId); // Lấy giá trị từ localStorage
            if (value) {
                document.getElementById(inputId).value = value; // Gán giá trị cho trường input
            }
        }

        // Gọi hàm checkAndSetInputValue() khi trang được load
        window.onload = function() {
            checkAndSetInputValue("reserveTime");
        };

        function checkValidReserveTime() {
            var thietBiId = document.getElementById("thietBiId").value; // Lấy giá trị của thietBiId từ input ẩn
            var reserveTime = document.getElementById("reserveTime").value; // Lấy giá trị của reserveTime từ input datetime-local


            console.log("chay code o day")
            localStorage.setItem("reserveTime", reserveTime);
            // Gửi yêu cầu AJAX
            $.ajax({
                type: "POST",
                url: "/thongtinsd/checkValidReserveTime",
                data: {
                    thietBiId: thietBiId,
                    reserveTime: reserveTime
                },
                success: function(response) {
                    if (response.result === "success") {
                        window.location.href = response.redirect;
                    } else {
                        window.location.href = response.redirect;
                    }
                },
                error: function(xhr, status, error) {
                    // Xử lý lỗi (nếu cần)
                    console.log("Error");
                }
            });
        }
        </script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>
