<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Electronic Shop</title>
        <link rel="stylesheet" href="" th:href="@{/css/style.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <!-- bootstrap links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- bootstrap links -->
        <!-- fonts links -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
        <!-- CSS của Pikaday -->
        <link href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.min.css" rel="stylesheet">
        
        <!-- fonts links -->
    </head>
    <body>
        <!-- top navbar -->
        <div class="top-navbar">
            <p>WELCOME TO OUR ELECTRONIC PRODUCTS</p>
            <div th:if="${session.matv}">
               <div class="icons">
                 <span th:text="${session.hovaten}"></span>
                 <a href="/logout"><img src="./images/register.png" alt="" width="18px">Logout</a>
               </div>
                 
            </div>
            <div th:unless="${session.matv}">
                <div class="icons">
                    <a href="/login"><img src="./images/register.png" alt="" width="18px">Login</a>
                </div>
            </div>
            
        </div>
        <!-- top navbar -->

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" id="logo"><span id="span1">E</span>Lectronic<span> Management</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><img src="./images/menu.png" alt="" width="30px"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#product-cards">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart">
                                <span class="fa-solid fa-cart-shopping"></span>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" id="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword" value = "">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- navbar -->


        <!-- home content -->
<!--        <section class="home">
            <div class="content">
                <h1> <span>Electronic Products</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, saepe.
                    <br>Lorem ipsum dolor sit amet consectetur.
                </p>
                <div class="btn"><button>Book now</button></div>
            </div>
            <div class="img">
                <img src="./images/background.png" alt="">
            </div>
        </section>-->
        <!-- home content -->


        <!-- product cards -->
        <div class="container" id="product-cards">
            <h1 class="text-center">PRODUCTS</h1>
<!--            <div class="row" style="margin-top: 30px;">
                 Vòng lặp để hiển thị từng sản phẩm 
                <div class="col-md-3 py-3 py-md-0" th:each="item, iterStat : ${listThietbi}">
                     Kiểm tra xem có phần tử tương ứng trong danh sách thongtinsd hay không 
                    <div class="card" >
                         Lấy thông tin sản phẩm từ danh sách thietbi 
                        <img src="./images/p6.png" alt="">
                        <div class="card-body">
                            <h3 class="text-center" th:text="${item.MaTB}"></h3>
                            <h3 class="text-center" th:text="${item.TenTB}"></h3>
                             Lấy thông tin trạng thái từ danh sách thongtinsd 
                            <div style="display: flex; align-items: center;">
                                <h2>Trạng thái: <span style="padding-left: 5px; border: 1px solid black; background: black; color: white">Có sẵn</span></h2>
                                <h2 style="margin-left: 10px; padding-left: 40px"><span><li class="fa-solid fa-cart-shopping"></li></span></h2>
                            </div>
                        </div>
                         Sử dụng th:attr để đưa MaTB vào thuộc tính data-id của nút "Book now" 
                        <div class="btn"><button class="book-now-btn" th:attr="data-id=${item.MaTB}"> Book now</button></div>
                    </div>
                </div>
            </div>-->

            <div>
                <table class="table">
                    <thread>
                        <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Tên thiết bị</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col" style="padding-left: 70px">Action</th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr th:each="row : ${dataThietBi}">
                            <td th:text="${row.maTB}"></td>
                            <td th:text="${row.tenTB}"></td>
                            <td th:text="${row.mo_tatb}"></td>
                            <td>
                                <div class="btn"><button class="book-now-btn" th:attr="data-id=${row.maTB}"> Book now</button></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- product cards -->


        <!-- offer -->
        <div class="container" id="offer">
            <div class="row">
                <div class="col-md-3 py-3 py-md-0">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h3>Free Shipping</h3>
                    <p>On order over $1000</p>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <i class="fa-solid fa-rotate-left"></i>
                    <h3>Free Returns</h3>
                    <p>Within 30 days</p>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <i class="fa-solid fa-truck"></i>
                    <h3>Fast Delivery</h3>
                    <p>World Wide</p>
                </div>
                <div class="col-md-3 py-3 py-md-0">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <h3>Big choice</h3>
                    <p>Of products</p>
                </div>
            </div>
        </div>
        <!-- offer -->

        <!-- newslater -->
        <div class="container" id="newslater">
            <h3 class="text-center">Subscribe To The Electronic Shop For Latest upload.</h3>
            <div class="input text-center">
                <input type="text" placeholder="Enter Your Email..">
                <button id="subscribe">SUBSCRIBE</button>
            </div>
        </div>
        <!-- newslater -->

        <!-- footer -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Electronic Shop</h3>
                            <p>
                                Karachi <br>
                                Sindh <br>
                                Pakistan <br>
                            </p>
                            <strong>Phone:</strong> +000000000000000 <br>
                            <strong>Email:</strong> electronicshop@.com <br>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Usefull Links</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy policey</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li><a href="#">PS 5</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Gaming Laptop</a></li>
                                <li><a href="#">Mobile Phone</a></li>
                                <li><a href="#">Gaming Gadget</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Social Networks</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, quibusdam.</p>
                            <div class="socail-links mt-3">
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-skype"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>Electronic Shop</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="#">SA coding</a>
                </div>
            </div>
        </footer>
        <!-- footer -->
        <a href="#" class="arrow"><i><img src="./images/arrow.png" alt=""></i></a>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        
        <script th:inline="javascript">
           document.addEventListener('DOMContentLoaded', function() {
                const isLoggedIn = /*[[${session.matv}]]*/ false; // Thay đổi giá trị này tương ứng với trạng thái đăng nhập
                const bookNowButtons = document.querySelectorAll('.book-now-btn');

                bookNowButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                        if (!isLoggedIn) {
                            // Hiển thị thông báo nếu chưa đăng nhập
                            alert('Bạn phải đăng nhập để đặt hàng. Vui lòng đăng nhập trước.');
                        } else {
                            /* Lấy giá trị MaTB từ thuộc tính data-id */
                            var productId = button.getAttribute('data-id');
                            /* Chuyển hướng đến trang chi tiết sản phẩm và truyền tham số MaTB */
                            window.location.href = '/detail?id=' + productId;
                        }
                    });
                });
            });
        </script>
    </body>
</html>