<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Pikaday CSS -->
    <link href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.min.css" rel="stylesheet">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" id="logo"><span id="span1">E</span>Lectronic<span> Management</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><img src="./images/menu.png" alt="" width="30px"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#product-cards">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart">
                                <span class="fa-solid fa-cart-shopping"></span>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" id="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword" value = "">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    
    <div  style="display: flex; padding: 20px;">
         <div  style="border: solid 1px #000; width: 500px;height: auto;display: block;padding: 10px">
        <h2 style="color: blue">Thông tin thành viên</h2>
        <p>Mã TV: <span th:text="${thanhvien.getMaTV}"></span></p>
        <p>Họ Tên: <span th:text="${username}"></span></p>
         <p>Khoa: <span th:text="${thanhvien.getKhoa}"></span></p>
         <p>Ngành: <span th:text="${thanhvien.getNganh}"></span></p>
         <p>SDT: <span th:text="${thanhvien.getSDT}"></span></p>
         <p>Email: <span th:text="${thanhvien.getEmail}"></span></p>
    </div>
        <div style="border: solid 1px #000; width: 500px;height: auto;display: block; padding: 20px">
    
       
   <div class="card text-bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Tổng Vi Phạm</div>
  <div class="card-body">
      <h5 class="card-title"><span th:text ="${tongvipham}"></span></h5>
   
  </div>
</div>
             <div class="card text-bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Đang Xử Lý</div>
  <div class="card-body">
    <h5 class="card-title"><span th:text ="${dangvipham}"></span></h5>
   
  </div>
</div>

       
    </div>
    </div>
    
    <div>
        <h3>Thiết bị đang đặt</h3>
        <table style="width: 1000px" class="table table-bordered">
            <thead>
            <th>
                   Mã thiết bị
            </th>
           <th>
                    Tên thiết bị
            </th>

             <th>
                    Thời gian đặt chỗ
            </th>
           
            </thead>
           
            <tbody>
              <tr th:each="row : ${listdangdat}">
                            <td th:text="${row.maTB}"></td>
                             <td th:text="${row.thietbi.TenTB}"></td>
                            <td th:text="${row.TGDatcho}" ></td>
                         
                        </tr>
            </tbody>
        </table>
    </div>
    
    
     <div>
        <h3>Thiết bị đang mượn</h3>
        <table style="width: 1000px" class="table table-bordered">
            <thead>
            <th>
                   Mã thiết bị
            </th>
           <th>
                    Tên thiết bị
            </th>

             <th>
                    Thời gian đặt chỗ
            </th>
             <th>
                    Thời gian mượn
            </th>
           
            </thead>
           
            <tbody>
              <tr th:each="row : ${listdangmuon}">
                            <td th:text="${row.maTB}"></td>
                             <td th:text="${row.thietbi.TenTB}"></td>
                            <td th:text="${row.TGDatcho}" ></td>
                             <td th:text="${row.TGMuon}" ></td>
                         
                        </tr>
            </tbody>
        </table>
    </div>
    
     <div>
        <h3>Thiết bị đã mượn</h3>
        <table style="width: 1000px" class="table table-bordered">
            <thead>
            <th>
                   Mã thiết bị
            </th>
           <th>
                    Tên thiết bị
            </th>

             <th>
                    Thời gian đặt chỗ
            </th>
             <th>
                    Thời gian mượn
            </th>
             <th>
                    Thời gian trả
            </th>
           
            </thead>
           
            <tbody>
              <tr th:each="row : ${listdamuon}">
                            <td th:text="${row.maTB}"></td>
                             <td th:text="${row.thietbi.TenTB}"></td>
                            <td th:text="${row.TGDatcho}" ></td>
                             <td th:text="${row.TGMuon}" ></td>
                              <td th:text="${row.TGTra}" ></td>
                         
                        </tr>
            </tbody>
        </table>
    </div>
    
    
    
      <div>
        <h3>Thông tin vi phạm</h3>
        <table style="width: 1000px" class="table table-bordered">
            <thead>
            <th>
                  Hình thức xử lý
            </th>
             <th>
                  Số tiền
             <th>
                   Ngày xử lý
            </th>
            
              <th>
                   Trạng thái xử lý
            </th>
           
            </thead>
           
            <tbody>
              <tr th:each="row : ${listxl}">
                            <td th:text="${row.HinhThucXL}"></td>
                            <td th:text="${row.SoTien}" ></td>
                          <td th:text="${row.NgayXL}" ></td>
                          <td th:if="${row.TrangThaiXL==0}">Chưa Xử lý</td>
                          <td th:if="${row.TrangThaiXL==1}">Đã Xử Lý</td>
                        </tr>
            </tbody>
        </table>
    </div>
   
</body>
</html>
